<div class="col-ms-5 center">
<div class="center jumbotron">
    <h1 class="display-4 text-center">Green Leaves <i class="fas fa-leaf"></i></h1>
    
</div>
</div>
<hr>
    <div class="row">
        <div class="col-md-5">
            <app-contacto></app-contacto>
        </div>
    </div>
